faster-whisper>=1.0.0
ctranslate2>=4.3.1
datasets>=2.19.0
soundfile>=0.12.1
torchaudio>=2.2.0
torch>=2.2.0
jiwer>=3.0.3
transformers>=4.42.0
accelerate>=0.31.0
evaluate>=0.4.2
sentencepiece>=0.2.0
peft>=0.11.1
bitsandbytes>=0.43.1
pyctcdecode>=0.5.0
pynvml>=11.5.0